:root {
    --main-bg-color: #feb5fa;
    --font-color: #000000
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-size: 18px;
  line-height: 1.6;
}

.content {
  flex: 1 0 auto;
  margin: 3% 10% 3% 10%;
}

.hidden-link {
    color: var(--font-color);
    text-decoration: none;
}

.button {
    background-color: #ff9bf8;
    box-shadow: 8px 8px 0px 0px #d984d3;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.button:hover {
    scale: 1.1;
}

.button:active {
    translate: 0px 0px;
    scale: 1;
    box-shadow: 0px 0px 0px 0px #d984d3;
}

code {
    background-color: #9c9cff;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #7675c3;
}

.key {
    background-color: #3f429a;
    color: white;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 5px;
    border-color: #919ce8;
}

.tip {
    background-color: #60ffaa;
    padding: 3px 10px 3px 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #47b87a;
    font-weight: 500;
}

.back-button {
    display: inline-block;
    padding: 20px;
}

.guide-collapse {
    margin-top: 10px;
    margin-bottom: 10px;
}

.guide-collapse__summary {
    background-color: #ff9bf8;
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #d984d3;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
}

.guide-collapse__body {
    background-color: #ff9bf8;
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #d984d3;
    border-top: 0px;
}


.footer {
  flex-shrink: 0;
}